.producto {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 300px;
    margin-left: 30px;
    max-width: 75%;
}

.producto img {
    margin-top: px;
    max-width: 500px;
    margin-right: 16px;
    border: solid 4px #ff0000;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(253, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .producto img:hover {
    transform: scale(1.05);
  }


.frases {
    width: 80%;
    background-color: #ff0000;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 150px;
    margin-top: 200px;

}

.frase {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem ;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.frase:hover {
    background-color: #ffffff;
}

.icono {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    
}

.texto-explicativo {
    display: none;
    margin-left: 42px; /* Ajustar según el tamaño del icono y el margen */
    margin-bottom: 10px;
    font-size: 1.rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.item-carrito {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-gap: 16px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-carrito img {
    grid-column: 1;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 5px;
}

.item-carrito h3 {
    margin: 0;
    font-size: 1.1em;
    grid-column: 2;
}

.item-carrito span {
    font-size: 0.9em;
}

.item-carrito .cantidad {
    grid-column: 3;
}

.item-carrito .precio {
    grid-column: 4;
}

.item-carrito button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-carrito button:hover {
    background-color: #d32f2f;
}

#total-contenedor {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 24px;
    text-align: center;
}

.carrito {
    margin-top: 100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

form {
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    
  }

  

  
  input[type="text"],
  input[type="tel"] {
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(60, 180, 120, 0.5);
  }

  .precio{

    font-size: 1.2rem;
    color: #ff4500 !important;
    margin-bottom: 20px;
    font-weight: bold;

  }

  h2{

    margin-bottom: 20px;

  }

  @media screen and (max-width: 768px) {

    .producto {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        margin-top: 100px;
        margin-left: 50px;
    }
    
    .producto img {
        margin-top: 50px;
        max-width: 200px;
        margin-right: 16px;
        border: solid 4px #ff0000;
        border-radius: 5px;
    }

    .frases{

        width: 70%;
        margin-left: 50px;
        padding: 1rem;

    }

    .frases{

        width: 60%;
        position: relative;

    }

    

    

  }